<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scripts(extraScripts)">
    <script th:src="@{/js/main.js?v=3}"></script>
    <th:block th:if="${extraScripts != null and extraScripts.contains('imask')}">
        <script th:src="@{/js/vendor/imask.min.js?v=1}"></script>
    </th:block>
    <th:block th:if="${extraScripts != null and extraScripts.contains('viacep')}">
        <script th:src="@{/js/viacep.js?v=1}"></script>
    </th:block>
    <script th:src="@{/js/auth.js?v=3}"></script>
    <th:block th:if="${extraScripts != null and extraScripts.contains('notifications')}">
        <script th:src="@{/js/notifications.js?v=3}"></script>
    </th:block>
    <script th:src="@{/js/theme-switcher.js?v=1}"></script>
    <th:block th:if="${extraScripts != null and extraScripts.contains('nav')}">
        <script th:src="@{/js/nav-visibility.js?v=3}"></script>
    </th:block>
    <th:block th:if="${extraScripts != null and extraScripts.contains('admin')}">
        <script th:src="@{/js/admin.js?v=1}"></script>
    </th:block>
</th:block>
